:root {
    --main-text-color: #0b0c0c;
    --main-background-color: #ffffff;
    --surface-1-background-color: #f1f1f1;
    --active-text-color: #0b0c0c;
    --active-background-color: #ffdd00;
    --link-color: #1d70b8;
    --link-visited-color: #4c2c92;

    --border-main: 3px solid #0b0c0c;
    --border-sub: 2px solid #b1b4b6;

    --main-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --mono-font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

    --element-spacing-1: 0.5em;
    --element-spacing-2: 1em;
    --element-spacing-3: 2em;

    --typography-spacing-1: 1em;
    --typography-spacing-2: 2em;
    --typography-spacing-3: 3em;

    --spacing-paragraph: var(--typography-spacing-1);

    --line-height-logo: 1.2;
    --font-size-logo: 0.9em;
    --font-weight-logo: 700;

    --line-height-nav-item: 1.2;
    --font-size-nav-item: 1em;
    --font-weight-nav-item: 700;

    --line-height-title: 1.2;
    --font-size-title: 1.9em;
    --font-weight-title: 700;

    --line-height-section: 1.2;
    --font-size-section: 1.6em;
    --font-weight-section: 600;

    --line-height-subsection: 1.2;
    --font-size-subsection: 1.25em;
    --font-weight-subsection: 500;

    --line-height-main: 1.7;
    --font-weight-main: 400;

    --line-height-label: 1.5;
    --font-size-label: 0.8em;
    --font-weight-label: 400;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: #919ea1;
        --main-background-color: #002b36;
        --surface-1-background-color: #003a44;
        --active-text-color: var(--main-background-color);
        --active-background-color: var(--main-text-color);
        --link-color: #2e93dc;
        --link-visited-color: #8185df;

        --border-main: 3px solid var(--main-text-color);
        --border-sub: 2px solid var(--main-text-color);

        --font-weight-logo: 600;
        --font-weight-nav-item: 550;
        --font-weight-title: 650;
        --font-weight-section: 550;
        --font-weight-subsection: 450;
        --font-weight-main: 400;
        --font-weight-label: 350;
    }

    body {
        letter-spacing: 0.02em;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --font-size-main: 16px;
    }
}

@media only screen and (min-width: 769px) {
    :root {
        --font-size-main: 19px;
    }
}

html {
    box-sizing: border-box;
    font-family: var(--main-font-family);
    line-height: var(--line-height);
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

ol, ul, dl {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "header-sidebar"
            "main"
            "main-sidebar"
            "footer"
            "footer-sidebar";
    }
}

@media only screen and (min-width: 769px) {
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header-sidebar"
            "main main main-sidebar"
            "footer footer footer-sidebar";
    }
}

body {
    width: min(55rem, 100% - 2rem);
    margin: auto;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

header {
    padding-block-end: var(--element-spacing-1);
    padding-block-start: var(--element-spacing-1);
    grid-area: header;
    z-index: 2;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.logo {
    line-height: var(--line-height-logo);
    font-size: var(--font-size-logo);
    font-weight: var(--font-weight-logo);
    display: block;
    width: max-content;
}

a.menu {
    float: right;
}

main {
    padding-block-start: var(--element-spacing-1);
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    grid-area: main;
}

aside {
    line-height: var(--line-height-label);
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-label);
    grid-area: sidebar;
}

aside h1 {
    line-height: var(--line-height-subsection);
    font-size: var(--font-size-subsection);
    font-weight: var(--font-weight-subsection);
}

footer {
    grid-area: footer;
}

footer p {
    line-height: var(--line-height-label);
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-label);
}

h1 {
    line-height: var(--line-height-title);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
}

h2 {
    line-height: var(--line-height-section);
    font-size: var(--font-size-section);
    font-weight: var(--font-weight-section);
}

h3 {
    line-height: var(--line-height-subsection);
    font-size: var(--font-size-subsection);
    font-weight: var(--font-weight-subsection);
}

h1:first-child {
    margin-block-end: var(--element-spacing-2);
}

h2, h3 {
    margin-block-start: var(--element-spacing-3);
    margin-block-end: var(--element-spacing-1);
}

p, ul, ol, dl, blockquote, address, table {
    margin-block-end: var(--spacing-paragraph);
}

p:last-child {
    margin-block-end: var(--element-spacing-1);
}

body {
    line-height: var(--line-height-main);
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-main);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    border-bottom: var(--border-main);
}

th, td {
    padding: var(--element-spacing-1);
}

tbody:not(:last-child) {
    border-bottom: var(--border-sub);
}

li:not(:last-child), dd:not(:last-child) {
    margin-block-end: var(--element-spacing-1);
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:hover, a:focus {
    text-decoration-thickness: max(3px, 0.1875em, 0.12em);
    text-decoration-skip-ink: none;
}

a:active {
    background-color: var(--active-background-color);
    color: var(--active-text-color);
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul, ol, dl {
    padding-inline-start: var(--typography-spacing-2);
    font-size: inherit;
}

dt {
    font-size: inherit;
    font-weight: bold;
}

dd {
    font-size: inherit;
    padding-inline-start: var(--typography-spacing-2);
}

hr {
    margin-block: var(--element-spacing-2);
}

blockquote {
    border-left: var(--border-sub);
    padding-left: var(--typography-spacing-1);
}

code, kbd, pre, samp {
    font-family: var(--mono-font-family);
}

pre, code {
    white-space: pre-wrap;
}

/* Experimental */

div.highlight {
    margin-block-end: var(--spacing-paragraph);
    padding: var(--typography-spacing-1);
    background-color: var(--surface-1-background-color);
    border-radius: 1em;
}

figure {
    margin-block: var(--typography-spacing-3);
    padding: var(--typography-spacing-1);
    background-color: var(--surface-1-background-color);
    border-radius: 1em;
}

figcaption {
    border-bottom: var(--border-sub);
}

span.k, span.ow {
    font-weight: bold;
}

/* For book */

nav > ul, nav > ol {
    list-style: none;
}

nav > ol {
    list-style-type: decimal;
}

nav > ul > li:not(:last-child),
nav > ol > li:not(:last-child) {
    border-bottom: var(--border-sub);
}

nav > ul > li > a,
nav > ol > li > a {
    display: block;
    padding: var(--typography-spacing-1);
    font-weight: var(--font-weight-title);
}
