body {
    color: #000;
    background-color: #fff;
    margin: 0;
    font-family: liberation-serif, Times, "Times New Roman", serif;
    font-size: 12pt;
    line-height: 1.5;
}

a:any-link {
    color: #000;
    text-decoration: none;
}

header, footer, aside, nav {
    display: none;
}
